<div class="flex items-center justify-center">

    <form action="/artist-search" method="get" class="flex flex-col justify-center items-center">

        <input type="text" placeholder="Choose an artist" id="artist" name="artist"
            class="border-2 border-black rounded p-2">
        <button type="submit" class="bg-black text-white hover:bg-red-700 mt-3 p-3 rounded">
            Search for an artist</button>
    </form>
</div>